%form{ :action => 'create' }
        %label{:for => "name"} Dept name
        %input{:type => "text", :name => "name", :class => "text"}
        %input{:type => "submit", :value => "submit", :class => "button"}
