%h1 DEPARTMENTS

%ol
  - @depts.each do |d|
    %li= link_to d.name
    %p= link_to 'edit', edit_dept_path(d)
    %p= link_to 'get rid!', d, :method => :delete, :name => { :confirm => 'Are you sure?' }
    %p= link_to "add new", new_dept_path
    